body {
  background-color: rgb(211, 220, 230);
}

#may:hover {
  background-color: rgb(195, 233, 45);
}

.nav-link:hover {
  background-color: rgb(195, 233, 45);
}

img {
  height: 200px;
  width: 200px;
}